.content-container{
  margin-top: 120px;
  .content-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    .header-title{
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
    }
  }

  .content-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1.5rem 0 1.5rem;
  }
}
