.content-container{
  margin-top: 6rem;
  @media screen and (max-width: 600px)  {
    margin-top: 3rem;
  }
  .content-header{
    .header-title{
      display: flex;
      justify-content: center;
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
    }
  }

  .content-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
}
