<section class="content-container">
  <div class="content-header">
    <h1 class="header-title">{{titleData}}</h1>
  </div>
  <div class="content-body">
      <app-card-projects  [cardData]="dataProjects[0]" urlYoutube="https://player.vimeo.com/video/856486982?h=bc29488391"></app-card-projects>
      <app-card-projects  [cardData]="dataProjects[1]" urlYoutube="https://player.vimeo.com/video/856487987?h=ae9ec42f84"></app-card-projects>
  </div>
  <div class="content-footer">
    <button><a href="https://github.com/saak01" target="_blank">
      <mat-icon class="icon">add</mat-icon>
    </a></button>
  </div>

</section>
