<div class="container-content">
  <div class="container-header">
    <iframe [src]="sanitizedUrl" frameborder="0" allowfullscreen></iframe>
  </div>

  <button class="container-body">
    <a class="link-container" target="_blank" href="{{cardData.github}} ">
      <h2 class="title">
        {{cardData.title}}
      </h2>
      <p class="text">
        {{cardData.details}}
      </p>
    </a>
  </button>

  <div class="container-footer">
    <div class="container-tools">
      <div  *ngFor="let item of cardData.language">
        <img class="container-demo" [src]="baseurl + item" srcset="" width="40px">
      </div>
    </div>
    <div *ngIf="cardData.demo != ''">
      <a href={{cardData.demo}} target="_blank">
        <img src="../../../../../assets/icons/demo-icon.png" width="40px" alt="" srcset="">
      </a>
    </div>

  </div>
</div>
