.container-content {
  margin: 10px;
  box-sizing: border-box;
  height: 560px;
  width: 500px;
  border-radius: 12px;
  background-color: #212121;
  border: #6A7FDB 4px solid;
  @media screen and (max-width:600px) {
    height: 450px;
    width: 95%;
  }



  .container-header {
    height: 50%;

    iframe {
      width: 100% !important;
      height: 100%;
      margin: 0 auto;
    }

    border-bottom: #6A7FDB 4px solid;
  }

  .container-body {
    background-color: transparent;
    border: none;
    padding: 10px;
    height: 35%;
    overflow: hidden;

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
      color: #ffff;
    }

    .text {
      font-size: 14px;
      color: #828282;
    }
  }

  .container-footer {
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: space-between;
    .container-tools{
      display: flex;
    }
    img:hover{
      scale: 1.2;
    }
  }
}


