<mat-toolbar>
  <span class="presentation-name">
    Portfólio

  </span>
  <div style="display: flex; align-items: center;">
    <div class="container-languages">
      <button (click)="languagePtbr()"><img width="48" height="42" src="../../../../../assets/icons/icon-brazil.png" alt="brazil"/></button>
      <button (click)="languageEn()"><img width="48" height="48" src="../../../../../assets/icons/icon-usa.png" alt="usa"/></button>
    </div>
    <!-- Slider -->
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"  (click)="lightMode($event)" >
    </div>
  </div>

</mat-toolbar>
