<section class="content-container">
  <div class="content-header">
    <h1 class="header-title">{{titleData}}</h1>
  </div>
  <div class="content-body">
    <app-card-contact urlDirect="https://github.com/saak01" urlimage="../../../../../assets/icons/github-icon.png"></app-card-contact>
    <app-card-contact urlDirect="https://www.linkedin.com/in/jo%C3%A3o-victor-alves-costa-14549b231/" urlimage="../../../../../assets/icons/linkedin-icon.png"></app-card-contact>
    <app-card-contact urlDirect="https://wa.me/5562992543166" urlimage="../../../../../assets/icons/phone-icon.png"></app-card-contact>
    <app-card-contact urlDirect="mailto:joaovictorcosta.dev@gmail.com" urlimage="../../../../../assets/icons/email-icon.png"></app-card-contact>


  </div>

</section>

