<section class="content-container">
  <!-- Title -->
  <div class="presentation-container">
    <h1 class="presentation-title" type
      >👋 {{textData}} <br>
      <h1 class="presentation-name">João Victor Costa</h1>
    </h1>
    <h2 class="presentation-subtitle" style="display: inline;">Dev Front-End </h2> <span style="font-size: 2.2rem;">🎯</span>
    <a class="button-curriculum-container" style="display: block;" href="../../../../../assets/JOAO_VICTOR_COSTA.pdf.pdf" target="_blank">
      <button class="button-curriculum"><span style="font-size: 20px;">Currículo</span></button>
    </a>
  </div>
  <!-- Image -->
  <div class="image-holder">
    <div class="image-container">
        <img class="image" src="../../../../../assets/Joao_Victor.png" width="350px" height="350px" alt="" srcset="" >
    </div>
  </div>
</section>
