.content-container{
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0px 6rem 0px 6rem;
  height: 400px;
  @media screen and (max-width: 600px)  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 1rem 0px 1rem;
    box-sizing: border-box;
    margin-top: 11rem;
  }


  span{
    color: #ffffff;
  }

  .presentation-title{
    font-size: 2.2rem;
    .presentation-name{
      font-size: 3rem;
      font-weight: bold;
      color: #6A7FDB;
    }
  }

  .presentation-subtitle{
    font-size: 1.8rem;
    color: #828282;
    margin: 0;

  }

  .image-holder{
    @media screen and (max-width:600px) {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }
    .image-container{
      @media screen and (max-width: 600px)  {
        margin-top: 10px;
        height: 251px;
        width: 251px;
        overflow: hidden;
        .image{
          height: 270px;
          width: 200px;
        }
      }
        overflow: hidden;
        width: 350px;
        height: 350px;
        background-color: #6A7FDB;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px #828282 solid;


      img{
        border-radius: 20px;

      }
    }
  }
  }

  @keyframes typing-animation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .presentation-name {
    width: 14ch;
    animation: typing-animation 5s steps(52), blink .3s step-end infinite ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
  }

  .button-curriculum-container{
    margin-bottom: 20px;
    margin-top: 20px;
    .button-curriculum{
      background-color: #6A7FDB;
      border: none;
      border-radius: 12px;
      color: #ffffff;
      height: 50px;
      width: 120px;
    }
    .button-curriculum:hover{
      transform: scale(1.2);
    }
  }

