<section class="content-container">
  <div class="presentation-container">
    <h1 class="presentation-title"
      >👋 {{textData}} <br>
      <h1 class="presentation-name">João Victor</h1>
    </h1>
    <h2 class="presentation-subtitle">Dev Front-End </h2> <span style="font-size: 2.5rem;">🎯</span>
  </div>
  <!-- Image -->
  <div class="image-holder">
    <div class="image-container">
        <img class="image" src="../../../../../assets/Joao_Victor.png" width="350px" height="350px" alt="" srcset="" >
    </div>
  </div>
</section>
