.content-container{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  .content-header{
    .header-title{
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
    }
  }
  .content-body{
    display: flex;
    justify-content: center;
    .body-text{
      line-height: 2rem;
      width: 50%;
      color: #828282;
      text-align: center;
      font-size: 1.7rem;

      @media screen and (max-width:600px) {
        width: 90%;
        font-size: 1.2rem;

      }
    }
  }
}
